/* CSS base */
/* Reset do box-sizing e margem/preenchimento padrão */

/* criação de variáveis para cor e fonte */
:root{
    --cor-fundo: #202020;
    --cor-cabecalho: #000;
    --cor-secundaria: #1db954;
    --cor-texto: #FFF;
    --cor-textoII: aliceblue;
    --cor-moldura: #313131;

    --fonte-padrao: Arial, sans-serif;
    --fonte-nome-projeto: "Bebas Neue", sans-serif;
    --fonte-sub-titulo: "Silkscreen", sans-serif;
    --fonte-selec-arq: monospace;
    --fonte-explicacap-site: "Concert One", sans-serif

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-padrao); /* Defina uma fonte padrão */
    height: 100vh;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--cor-cabecalho);
    padding: 10px;
    border: none; /* Remover a borda */
    /* justify-content: flex-end; Alinhar os botões à direita */
}

.botoes-nav {
    float: left; /* Alinhar os botões à esquerda */
    margin-right: 10px;
}

.titulo {
    font-size: 3rem; /* Define o tamanho da fonte do título */
    max-width: 90%; /* Define a largura máxima do título */
    color: var(--cor-secundaria);
    margin-right: 55%;
}
.bebas-neue-regular {
    font-family: var(--fonte-nome-projeto);
    font-weight: 400;
    font-style: normal;
}

.subtitulo {
    color: var(--cor-texto);
    margin-top: 1%; /* Ajuste a margem superior para 3% */
    text-align: center;
}

.silkscreen-regular,
.silkscreen-bold {
    font-family: var(--fonte-sub-titulo);
}

.imagem {
    margin-right: 3%;
    height: 75px;
}

.selec_arq {
    color: var(--cor-texto);
    font-size: larger;
    font-family: var(--fonte-selec-arq);
    margin-top: 1%;
}

.atconfig {
    background-color: #313131;
}

.retangulo-grafico {
    width: 90%;
    height: 70vh;
    margin: 2% auto; /* Centralize o retângulo e defina uma margem superior */
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}

.linha {
    border-bottom: 2px solid var(--cor-secundaria);
}

.moldura {
    background-color: var(--cor-moldura);
    padding: 20px;
    text-align: center;
    font-family: var(--fonte-selec-arq);
    color: var(--cor-secundaria);
    border-radius: 5%;
}

.corbotão {
    background-color: var(--cor-secundaria);
    margin-left: 1%;
    margin-top: 1px;
}

.moldura .volume,
.moldura .temperatura,
.moldura .umidadesolo,
.moldura .umidadeambiente {
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 5%;
}

input[type="file"] {
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.botao {
    background-color: var(--cor-secundaria);
    margin-right: 10px;
}

.carrosel {
    border: solid;
    border-color: var(--cor-secundaria);
    max-width: 100%;
    height: auto;
    margin: -3% auto 1% auto; /* Ajuste a margem superior para 4% */
}

.atualização {
    margin-top: 35%;
    margin-left: 1%;
    color: var(--cor-texto);
}

.concert-one-regular {
    font-family: var(--fonte-explicacap-site);
    font-weight: 400;
}

.flex2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.texto {
    margin-top: 1%; /* Ajuste a margem superior para 3% */
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: var(--cor-textoII);
    font-size: 25px;
    justify-content: space-between;
}

.botaozinhome {
    margin-top: 2%;
    align-items: center;
}
/* Regras @media para tornar o cabeçalho responsivo em dispositivos móveis */
@media only screen and (max-width: 480px) {
    .cabecalho {
        padding: 5px; /* Reduzir o preenchimento */


    }

    .titulo {
        margin-right: 13%;
        font-size: 1.3rem; /* Reduzir o tamanho da fonte */
        text-align: left;
    }

    .imagem {
        width: 10%;
        height: 10%;
        margin-left: 10px;
    }

    .botoes-nav{
        font-size: 10px;
        justify-content: flex-start;
    }

    .botaozinhome {
        margin-top: 8%;
    }

    .retangulo-grafico{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .titulo {
        margin-right: 40%;
        font-size: 1.3rem; /* Reduzir o tamanho da fonte */
        text-align: left;
    }

    .retangulo-grafico{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 820px) {
    .titulo {
        margin-right: 42%;
        font-size: 1.5rem; /* Reduzir o tamanho da fonte */
        text-align: left;
    }

    .retangulo-grafico{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media only screen and (max-width: 1024px) {
    .titulo {
        margin-right: 4%;
        font-size: 1.8rem; /* Reduzir o tamanho da fonte */
        text-align: left;
    }

    .retangulo-grafico{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}