.cabecalho {
    display: flex;
    align-items: center; 
    

}

.titulo {
    color: #5DC47B;
    font-size: 30px;
    margin-left: 4%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.subtítulo{
    font-family: monospace;
    color: #5DC47B;
    margin-top: 2%;
    margin-left: 45%;
}
    
.imagem{
    margin-left: 1%;

}


.logo {
    padding-left: 10px;
    
}

.atualização {
    color: #262626;
    font-size: larger;
    font-family: monospace;
   
}

.atconfig{
    background-color: #dbdbdb;
}

.body {
    background-color: #262626;
    background-image: linear-gradient(to bottom, #262626 70% , rgba(93,196,123,0.2) );
}


.retangulo-grafico {
    width: 900px;
    height: 600px;
    margin-top: 5%;
    margin-left: 20%;
    border-radius: 10px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    background-color: #262626;
}

.linha{
     border-bottom: 2px solid #5DC47B;
      
}

.moldura {
    background-color: #dbdbdb;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    color: #5DC47B;
    border-radius: 5%;
    
    
    
    
}

    
