
.cabecalho {
    display: flex;
    align-items: center; 
    

}

.titulo {
    color: #22b14c;
    font-size: 30px;
    margin-left: 4%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.subtítulo{
    font-family: monospace;
    color: #22b14c;
    margin-left: 45%;
}
    
.imagem{
    margin-left: 1%;

}


.logo {
    padding-left: 10px;
    
}

.atualização {
    color: #ffffff;
    font-size: larger;
    font-family: monospace;
    margin-top: 1%;
   
}

.atconfig{
    background-color: #313131;
}

.body {
    background-color: #262626;
    background-image: linear-gradient(to bottom, #262626 50% , #22b14dcf );
}


.retangulo-grafico {
    width: 900px;
    height: 700px;
    margin-top: 2%;
    margin-left: 20%;
    border-radius: 10px ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    
}

.linha{
     border-bottom: 2px solid #22b14c;
      
}

.moldura {
    background-color: #313131;
    padding: 20px;
    text-align: center;
    font-family: monospace;
    color: #22b14c;
    border-radius: 5%;}

.corbotão{
background-color: #22b14c;
}

.moldura .volume{
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 5% ;
}

.moldura .temperatura{
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 5%;
}

.moldura .umidadesolo{
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 5%
}

.moldura .umidadeambiente{
    padding: 1%;
    width: 90%;
    height: 90%;
    border-radius: 5%
}